name: "Analyse code with Rubocop and do a dry run"

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1.278.0
        with:
          bundler-cache: true

      - name: Run rubocop
        run: bundle exec rubocop
      
      - name: Create test config and reprot directory
        run: |
          cp config/environment.test.yml config/environment.preview.yml
          cp config/environment.test.yml config/environment.production.yml
          mkdir reports

      - name: Run cucumber tests - Non production
        run:  TEST_ENV=preview bundle exec cucumber features/services/ --dry-run

      - name: Run cucumber tests - Production
        run:  TEST_ENV=production bundle exec cucumber features/services/ --dry-run

      - name: Run cucumber tests - Accessibility
        run:  TEST_ENV=preview bundle exec cucumber -p accessibility features/accessibility/ --dry-run
